<div class="main">
    <div class="heading-container">
        <img src="assets/home/about-us.jpg" alt="Contact-us" class="heading-img">
        <div class="heading">Contact Us</div>
    </div>
    
    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div class="separator"> &gt; </div>
        <div class="current-page">Contact Us</div>
    </div>

    <div class="sub-main">
        <div class="sub-1">
            <div class="sub-2">
                <div class="sub-main-heading">Our Location</div>
                <div class="sub-heading">Corporate Head Office Chicago, IL</div>
                <div class="para">
                    <p><strong>Address:</strong> 123 Main Street, Suite 456, Chicago, IL 60601, USA</p>
                    <p><strong>Phone:</strong> +1 (123) 456-7890</p>
                    <p><strong>Email:</strong> infoyourcompany.com</p>
                    <p><strong>Business Hours:</strong> Monday - Friday, 9:00 AM - 6:00 PM</p>
                </div>
            </div>
            <img src="assets/home/location-map.png" alt="Map" class="thumbnail">
        </div>
    </div>
</div>