<div class="main">
    <div class="heading-container">
        <img src="assets/home/industry.jpg" alt="industry">
        <div class="heading">Industries</div>
    </div>
    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div>></div>
        <div>Industries</div>
    </div>
    <div>
        <div class="main-card-container">
            <div class="card-container">
                <div class="card" routerLink="/it-services">
                    <img src="assets/home/cards/card-1.jpg" alt="card">
                    <div class="card-details">
                        <div class="card-title">IT Services</div>
                        <div class="para">
                            7 Critical Success Factors and Evaluation Criteria Every Executive should consider before selecting an IT service provider.
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/lightweight-industry">
                    <img src="assets/home/cards/card-2.jpg" alt="card">
                    <div class="card-details">
                        <div class="card-title">Light Industry</div>
                        <div class="para">
                            Light industries play a crucial role in modern economies, focusing on the production of consumer goods, small-scale manufacturing, and high-tech innovations.
                        </div>
                    </div>
                </div>
                <div class="card" routerLink="/employee-recruitment-process">
                    <img src="assets/home/cards/card-3.jpg" alt="card">
                    <div class="card-details">
                        <div class="card-title">Employee Recruitment Process</div>
                        <div class="para">
                            A Tailored Approach Designed to Meet Your Specific Needs.
                        </div>
                    </div>
                </div>
            </div>
            <div class="big-card">
                <div class="left-side">
                    <div class="big-card-title">9itpro - A solution to all your job related queries- Staffing (IT & Non IT), ITES, and Development. The best-fit model for your business needs.</div>
                    <div class="big-card-para" style="border-top:  1px solid #2298ec; padding-top: 20px; font-weight: 700;">
                        We believe that business technology ultimately exists for one reason: to enhance you bottom line, our strategic goal is to create optimal technology hybrid to help you maximize your system's productivity and your company's return on investment.
                    </div>
                    <button class="learn-more-btn" routerLink="/about-us">Learn More ></button>
                </div>
                <img src="assets/home/cards/card-4.jpg" alt="card">
            </div>
        </div>
    </div>
</div>
