<div class="main">
    <div class="heading-container">
        <img src="assets/home/career.jpg" alt="career">
        <div class="heading">Career</div>
    </div>
    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div>></div>
        <div>Career</div>
    </div>

    <div class="sub-main">
        <div class="sub-heading">Work With US</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/work-with-us.png" alt="">
            <div class="para">
                We’re passionate about making a measurable impact in our employees’ lives, enabling them to strike a
                comfortable work-life balance. Our unique culture and approach help delivering enduring results. You
                will find a welcoming environment, where people leave their homes and family to come and work with yet
                another family at workplace. We share our employees’ aspirations, work to understand their reality, and align
                our projects with their objectives — so they know we’re in this together. Personal impact, mentoring, and
                teamwork are just a few of the share.
            </div>
        </div>

        <div class="sub-heading">Diverse Work Culture</div>
        <div class="sub-1">
            <div class="para">
                Every successful recruitment starts with understanding your business needs. We take the time to learn
                about the job roles, required skills, experience levels, and company culture to ensure a perfect match. Our
                team listens closely to your requirements, aligning our efforts to meet your specific goals.
            </div>
            <img class="thumbnail" src="assets/home/workculture.jpg" alt="">
        </div>
        
        <div class="sub-heading">Come, Join Us!</div>
        <div class="cta">
            We are always in the hunt for people who are passionate and self-motivated to deliver world class IT products and solutions to our customers. If you are an independent thinker and who wants to make a difference doing a job you love, Come join us !
        </div>
    </div>
</div>