<footer class="footer">
    <div class="upper-section">
        <div class="section">
            <div class="heading">Our Services</div>
            <div class="sub-section">
                <div class="links">
                    <div class="link">ERP Implementation</div>
                    <div class="link">Application Development</div>
                    <div class="link">Quality Assurance</div>
                </div>
                <div class="links">
                    <div class="link">Staff Augmentation</div>
                    <div class="link">E - Business</div>
                    <div class="link">Offshore Outsourcing</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">Support</div>
            <div class="links">
                <div class="link">Training</div>
                <div class="link">Contact Us</div>
                <div class="link">Sitemap</div>
            </div>
        </div>
        <div class="section">
            <div class="heading">Locations</div>
            <img class="location-map" src="assets/home/location-map.png">
        </div>
    </div>
    <div class="lower-section">
        <div class="link">© Copyright www.9itpro.com. All Rights Reserved.</div>
        <div class="icons">
            <img class="icon" src="assets/home/facebook.svg" alt="Facebook">
            <img class="icon" src="assets/home/twitter.svg" alt="Twitter">
            <img class="icon" src="assets/home/linkedin.svg" alt="LinkedIn">
        </div>
    </div>
</footer>
