<header class="header">
  <img class="logo" (click)="navigateTo('/')" src="assets/home/logo.jpg" alt="">
  <nav>
    <ul id="nav-links">
      <li><a (click)="navigateTo('/')">Home</a></li>
      <li><a (click)="navigateTo('/about-us')">About Us</a></li>
      <li><a (click)="navigateTo('/lightweight-industry')">Industries</a></li>
      <li><a (click)="navigateTo('/career')">Career</a></li>
      <li><a (click)="navigateTo('/contact-us')">Contact Us</a></li>
    </ul>
  </nav>
</header>

<header class="header-2">
  <div class="header-top">
    <img class="logo" (click)="navigateTo('/')" src="assets/home/logo.jpg" alt="">
    <button class="menu-toggle" (click)="toggleMenu()">&#9776;</button>
  </div>
  <nav>
    <ul [ngClass]="{ 'show': isMenuOpen }" id="nav-links">
      <li><a (click)="navigateTo('/')">Home</a></li>
      <li><a (click)="navigateTo('/about-us')">About Us</a></li>
      <li><a (click)="navigateTo('/lightweight-industry')">Industries</a></li>
      <li><a (click)="navigateTo('/career')">Career</a></li>
      <li><a (click)="navigateTo('/contact-us')">Contact Us</a></li>
    </ul>
  </nav>
</header>
