.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    z-index: 1000;
  }
  .header-2{
    display: none;
  }

  .logo{
    display: flex;
    height: 100%;
    cursor: pointer;
  }

  .menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 0;
    padding: 0;
  }

  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
  }

  nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
  }

  @media (max-width: 770px) {
    .menu-toggle {
      display: block;
    }
    .header{
        display: none;
    }
    .header-top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        
        padding: 0 40px;
        z-index: 1000;
        height: 60px;
    }
    .header-2{
        display: block;
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        background-color: #222;
        z-index: 999;
    }

    nav ul {
      display: none;
      flex-direction: column;
      top: 60px;
      right: 0;
      background-color: #222;
      width: 200px;
      padding: 15px 30px;
    }

    nav ul.show {
      display: flex;
    }
  }