<div class="home-container">
    <div class="banner">
        <img class="banner-img" src="assets/home/banner.jpg" alt="banner">
        <div class="banner-text">
            <div class="banner-heading">5 Years of Excellence</div>
            <div class="banner-para">We have partnered with Fortune 500, mid-size and Public sectors to deliver valuable
                business solutions.</div>
        </div>
    </div>
    <div class="mid-section">
        <div class="container">
            <img class="icon" src="assets/home/oil.svg" alt="Oil & Gas">
            <label class="label" for="">Oil & Gas</label>
        </div>
        <div class="container">
            <img class="icon" src="assets/home/security.svg" alt="security">
            <label class="label" for="">Security</label>
        </div>
        <div class="container">
            <img class="icon" src="assets/home/automobile.svg" alt="automobile">
            <label class="label" for="">Automotive</label>
        </div>
        <div class="container">
            <img class="icon" src="assets/home/chemical.svg" alt="chemical">
            <label class="label" for="">Chemicals</label>
        </div>
        <div class="container">
            <img class="icon" src="assets/home/media.svg" alt="media">
            <label class="label" for="">Media</label>
        </div>
        <div class="container">
            <img class="icon" src="assets/home/insurance.svg" alt="insurance">
            <label class="label" for="">Insurance</label>
        </div>
    </div>
    <div class="main-card-container">
        <div class="card-container">
            <div class="card" routerLink="/it-services">
                <img src="assets/home/cards/card-1.jpg" alt="card">
                <div class="card-details">
                    <div class="card-title">IT Services</div>
                    <div class="para">
                        7 Critical Success Factors and Evaluation Criteria Every Executive should consider before selecting an IT service provider.
                    </div>
                </div>
            </div>
            <div class="card" routerLink="/lightweight-industry">
                <img src="assets/home/cards/card-2.jpg" alt="card">
                <div class="card-details">
                    <div class="card-title">Lightweight Industry</div>
                    <div class="para">
                        Lightweight industries play a crucial role in modern economies, focusing on the production of consumer goods, small-scale manufacturing, and high-tech innovations.
                    </div>
                </div>
            </div>
            <div class="card" routerLink="/employer-recruitment-process">
                <img src="assets/home/cards/card-3.jpg" alt="card">
                <div class="card-details">
                    <div class="card-title">Employer Recruitment Process</div>
                    <div class="para">
                        A Tailored Approach Designed to Meet Your Specific Needs.
                    </div>
                </div>
            </div>
        </div>
        <div class="big-card">
            <div class="left-side">
                <div class="big-card-title">9ITProInc - A solution to all your job related queries- Staffing (IT & Non IT), ITES, and Development. The best-fit model for your business needs.</div>
                <div class="big-card-para" style="border-top:  1px solid #2298ec; padding-top: 20px; font-weight: 700;">
                    We believe that business technology ultimately exists for one reason: to enhance you bottom line, our strategic goal is to create optimal technology hybrid to help you maximize your system's productivity and your company's return on investment.
                </div>
                <button class="learn-more-btn" routerLink="/about-us">Learn More ></button>
            </div>
            <img src="assets/home/cards/card-4.jpg" alt="card">
        </div>
    </div>    
</div>