<div class="main">
    <div class="heading-container">
        <img src="assets/home/about-us.jpg" alt="about-us" class="heading-img">
        <div class="heading">About Us</div>
    </div>

    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div class="separator"> &gt; </div>
        <div class="current-page">About Us</div>
    </div>

    <div class="sub-main">
        <div class="sub-heading">Our Purpose</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/purpose.jpg" alt="">
            <div class="sub-2">
                <div class="para">
                    9ITPro is an IT outsourcing services provider that offers business solutions to organizations of
                    various sizes, irrespective of the scale of operations. whether it is digital modernization. we are the
                    pioneers in providing end-to-end solutions to our valued clients. We cater to several organizations
                    located in the USA, New Zealand, India, and Australia.
                </div>
                <div class="para">
                    At 9ITPro, we ensure that nothing but the quality services are delivered to the clients that range
                    from the outsourcing of talent management, software development, block-chain, IoT, CRM cloud services,
                    app development storage, and everything that your business requires for optimum performance of functions
                    and operations.
                </div>
            </div>
        </div>

        <div class="sub-heading">Why Choose Us ?</div>
        <div class="sub-1">
            <div class="para">
                Every successful recruitment starts with understanding your business needs. We take the time to learn
                about the job roles, required skills, experience levels, and company culture to ensure a perfect match.
                Our
                team listens closely to your requirements, aligning our efforts to meet your specific goals.
            </div>
        </div>

        <div class="sub-heading">Our Vision</div>
        <div class="sub-1">
            <div class="para">With an innate vision of becoming a world-class technology services provider with an
                astound recognition as an industry leader in chosen emerging IT technologies and modernization, we
                aspire to be the most trusted and preferred IT partner for all our clients.</div>
            <img class="thumbnail" src="assets/home/vision.jpg" alt="">
            </div>

        <div class="sub-heading">Our Mission</div>
        <div class="sub-1">
            
            <img class="thumbnail" src="assets/home/mission.jpg" alt="">
            <div class="sub-2">
                <div class="para">We are working swiftly to our dedicated passion of building long term collaborations that
                    is capable of delivering a world class and increased business margins by making the full use of emerging
                    modernizing technologies and leveraging data. We believe in becoming a world class leader organization
                    that magnetically attracts, creates, retain and sustain the best procured talent and enabling them to
                    grow as per their potential.</div>
                <div class="para">
                    One of the primary and most crucial tasks of a digital modernization department in any organization is
                    undoubtedly to procure the right of talent at the right place on the right time. Though, one must also
                    not ignore the other important roles of a HR department in any business.
                </div>
            </div>
        </div>
    </div>
</div>