.main{       
    margin-top: 60px;
}
.heading-container{
    height: 175px;
    position: relative;
}
.heading-container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.heading{
    position: absolute;
    left: 20%;
    bottom: 20px;
    font-size: 36px;
    color: white;
    font-weight: 600;
    padding: 10px;
    background: rgb(0, 0, 0, 0.5);
    border-radius: 4px;
}
.breadcrum{
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    display: flex;
    gap: 10px;
    padding: 0 20%;
    height: 50px;
    align-items: center;
    box-shadow: rgba(0,0,0,.2) 0px 1px 5px;
}
.home-link{
    color: #2298ec;
    cursor: pointer;
    transition: all 0.2s ease 0s;
    font-weight: 400;
}
.home-link:hover{
    color: #000;
}

.sub-main{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(0,0,0,.2) 0px 1px 5px;
    padding: 20px;
    margin: 20px 20%;
}
.sub-main-heading{
    font-size: 30px;
    font-weight: 700;
    color: #096fb8;
}
.sub-heading{
    font-size: 30px;
    font-weight: 700;
    color: #000;
}
.para{
    font-size: 17px;
    font-weight: 400;
}
.thumbnail{
    object-fit: cover;
    width: 30%;
}
.sub-1{
    display: flex;
    gap: 15px;
}
.sub-2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 1200px) {
    .sub-1{
        flex-direction: column;
    }
    .thumbnail{
        object-fit: contain;
        width: 100%;
    }
    .heading{
        left: 10%;
    }
    .breadcrum{
        padding: 0 10%;
    }
}
@media (max-width: 770px) {
    .main{
        margin-top: 0;
    }
    .sub-main{
        margin: 20px 1%;
    }
    .heading{
        left: 5%;
    }
    .breadcrum{
        padding: 0 5%;
    }
}