<div class="main">
    <div class="heading-container">
        <img src="assets/home/cards/card-1.jpg" alt="industry">
        <div class="heading">It Services</div>
    </div>
    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div>></div>
        <div>It Services</div>
    </div>
    <div class="sub-main">
        <div class="sub-main-heading">IT Services</div>
        <div class="para">At 9ITProInc, Inc., our seasoned professionals work with businesses in a variety of industries
            to deliver crucial solutions that tackle pressing issues. Understanding that every sector has different
            requirements for senior leadership, we tailor our strategy to meet industry-specific requirements as well as
            the unique features of your company. In the end, you have executives who are well matched to guide and grow
            your company as it moves forward.</div>
        
        <div class="sub-heading">Administration</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
                <div class="para">
                    For administrative service organizations to thrive and adapt in a dynamic environment, having the right
                    leadership is essential. CrescentSoftTech understands the challenge of finding leaders who not only have
                    deep industry knowledge but also foster innovation and build the trust necessary for business success.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Accounting & Finance</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
                <div class="para">
                    For administrative service organizations to thrive and adapt in a dynamic environment, having the right
                    leadership is essential. CrescentSoftTech understands the challenge of finding leaders who not only have
                    deep industry knowledge but also foster innovation and build the trust necessary for business success.
                </div>
            </div>
        </div>

        <div class="sub-heading">Architecture</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>
        
        <div class="sub-heading">Construction</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Executive</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Food & Beverage</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Healthcare</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Healthcare</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Information Technology</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Insurance</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Machinery</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Manufacturing</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Media</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Pharmaceutical</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Sales & Marketing</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Scientific</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>

        <div class="sub-heading">Software</div>
        <div class="sub-1">
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
        </div>

        <div class="sub-heading">Technology</div>
        <div class="sub-1">
            <div class="sub-2">
                <div class="para">Administrative service organizations have become increasingly popular, allowing businesses to
                    concentrate on their primary activities while outsourcing essential back-office functions to a reliable partner. These
                    services typically cover key tasks like payroll processing, accounting, and benefits management, including
                    both employee and corporate benefits administration. By outsourcing administrative duties, businesses can
                    optimize operations, cut down on overhead costs, and maintain compliance with regulations, all while
                    improving overall efficiency and performance.
                </div>
            </div>
            <img class="thumbnail" src="assets/home/administration.jpg" alt="">
        </div>
    </div>
</div>