<div class="main">
    <div class="heading-container">
        <img src="assets/home/career.jpg" alt="career">
        <div class="heading">Sitemap</div>
    </div>
    <div class="breadcrum">
        <div class="home-link" routerLink="/">Home</div>
        <div>></div>
        <div>Sitemap</div>
    </div>
    <div class="sub-main">
        <div class="sitemap">
            <div><a routerLink="/" class="node">Home</a></div>
            <div class="sub-node">
                <a routerLink="/lightweight-industry" class="node">Industries</a>
                <a routerLink="/about-us" class="node">About Us</a>
                <a routerLink="/career" class="node">Career</a>
                <a routerLink="/contact-us" class="node">Contact Us</a>
            </div>
            <div class="sub-node">
                <a routerLink="/it-services" class="node">IT Services</a>
                <a routerLink="/lightweight-industry" class="node">Lightweight Industry</a>
                <a routerLink="/employee-recruitment-process" class="node">Our Recruitment Process</a>
            </div>
        </div>
    </div>
</div>
